:root {
  --senai-red: #ff0000;
  --senai-blue: #4c4e53;
  --senai-white: #ffffff;
  --senai-bg-gray: #cecece; /* Cinza de fundo da imagem */
  --senai-text-dark: #333333;
  --sombra-card: 0 4px 10px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--senai-bg-gray);
  color: var(--senai-text-dark);
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logoSenai {
  width: 300px;
  height: auto;
  margin-left: 20px;
}

.header {
  background-color: var(--senai-white);
  /* margin-top: 2ch; */
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
  border-bottom: 5px solid var(--senai-red);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo-container h1 {
  font-size: 1.2rem;
  color: #4c4e53;
  text-transform: uppercase;
}

.relogio-container {
  text-align: right;
  display: flex;
}

.hora {  
  font-size: 6rem;
  font-weight: 900;
  color: #4c4e53;
}

.data {
  display: grid;
  font-size: 2.5rem;
  color: #3f3c3c;
  text-transform: uppercase;
  justify-content: center;
  align-items:end;
  padding: 0 2rem 1rem 0;
  
}

.conteudo-principal {
  flex: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.5rem;
  /* padding: 2rem; */
}

/* Estilo geral dos containers brancos */
.card-container {
  background: white;
  border-radius: 4px;
  padding: 1.5rem;
  box-shadow: var(--sombra-card);
  height: 100%;
}

